/********************************* LOGIN */

#nav-dropdown-dark-example span,
{

position: absolute;
}



/* #reservations input:-webkit-autofill:focus,
#login_form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset; */
/*your box-shadow*/
/* -webkit-text-fill-backgorund-color: #FFFFF0;
    -webkit-text-fill-color: #111111;
    -webkit-text-fill-font-size: 0.500rem;
} */


#login_wrapper {
    min-width: 500px;
    max-width: 650px;
    height: 370px;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

#login_action_holder {
    margin-top: 30px;
}

#login_action_holder .col {
    text-align: center;
}

#forgot_password_holder {
    font-size: 14px;
    padding-top: 15px;
}

#login_form label {
    margin-top: 15px;
}

#login_form input {
    font-size: 15px;
    letter-spacing: 0.5px;
}

#login_submit_button {
    width: 70%;
}

#login_message {
    padding-left: 40px;
    font-size: 14px;
    color: #a52a2a;
    margin-top: 20px;
}

/****** PET VIEW **/
#pet_view_wrapper {

    min-width: 900px;
    max-width: 1000px;
    min-height: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
}

#pet_view_wrapper #pet_img_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Adjust based on your requirement */
    width: 100%;
    /* Ensure it takes up the full width of the container */
}

#pet_view_wrapper #pet_img_holder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Ensure the image covers the container */
    max-width: 100%;
    /* Responsive width */
    max-height: 100%;
    /* Responsive height */
}

/*********************************** COMMON FORM */

/***** Override autofill default style behavoir ****/
/**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
input:-webkit-autofill,
#login_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
    -webkit-text-fill-backgorund-color: #FFFFF0;
    -webkit-text-fill-font-size: 0.513rem;
}


#create_pet_wrapper,
#register_form_wrapper {

    min-width: 700px;
    max-width: 990px;
    min-height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

#create_pet_container,
#register_form_container,
#register_form_wrapper>.row {
    margin: 0 auto;
    width: 80%;
}

#list_pet_form label,
#reg_form label,
#login_form {
    font-size: 14px;
    margin-left: 15px;
}


#create_pet_container .parents_info_holder,
#register_form_wrapper #register_form_container {

    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    border-color: grey;
    margin-bottom: 10px;
}

.form-control:focus,
.form-control:active:autoc .form-control:active {
    background: transparent;
}

/* Custom CSS to remove the background color of filled inputs */
#login_form #login_email:valid {
    background-color: transparent !important;
}

/*************** REGISTRATION FORM */


#register_form_wrapper .reg_form_details_holder {

    margin-top: 7px;
    margin-bottom: 7x;

}

#reg_form input {
    font-size: 14px;
}

#register_form_wrapper button[type="submit"] {

    width: 43%;
    margin: 30px auto;
}

/***************** PET CREATION ******/



#form_textarea {
    /* padding-left: 15px;
    padding-right: 15px; */
}


#list_pet_form div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#list_pet_form input {
    height: 50px;
    font-size: 14px;
    width: 70%;
}

#list_pet_form ::placeholder {
    font-size: 12px;
    font-style: italic;
}

#list_pet_form .form-check-input {

    height: 25px;
    width: 25px;
    margin-left: 15px;
}

#create_pet_wrapper .parents_info_wraper {

    margin-top: 40px;
    padding: 10px;
}


.parents_info_holder #pet_category_holder #pet_category_row {
    margin: 0;
}

.parents_info_holder #pet_category_holder {
    margin: 0;
}


.parents_info_holder #pet_birth_date_holder,
.parents_info_holder #pet_birth_date_holder .row {
    margin: 0;
}

/* #pet_category_holder div {

    padding: 0;
} */

#create_pet_wrapper h6 {

    font-size: 17px;
    margin-left: 15px;
    margin-bottom: 0;
}

#create_pet_wrapper button[type="submit"] {

    width: 93%;
    margin: 0 auto;
}

#create_pet_wrapper textarea {

    font-size: 13px;
    height: 80px;
    width: 90%;
    margin-bottom: 30px;
}

/* 
.container {
    width: calc(var(--base-width) - 2rem);
    height: calc(var(--base-height) - 2rem);
    font-size: calc(var(--base-font-size) + 0.5vw);
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    :root {
        --base-width: 90%;
        --base-height: 90%;
        --base-font-size: 15px;
    }
}

@media (max-width: 992px) {
    :root {
        --base-width: 80%;
        --base-height: 80%;
        --base-font-size: 14px;
    }
}

@media (max-width: 768px) {
    :root {
        --base-width: 70%;
        --base-height: 70%;
        --base-font-size: 13px;
    }
}

@media (max-width: 576px) {
    :root {
        --base-width: 60%;
        --base-height: 60%;
        --base-font-size: 12px;
    }
} */