/*
* Primary:
* Light Beige #F5EDE3
* Dark Brown  #5A4633
*
*Secundary:
* Soft Beige #DCC5A1
* Tan #C19A6B
* Dark Black #050505
***/

/*********************************************** COMMON FORM STUFF*/

/***** Override autofill default style behavoir ****/
/**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
input:-webkit-autofill,
#login_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
    -webkit-text-fill-backgorund-color: #FFFFF0;
    -webkit-text-fill-font-size: 0.513rem;
}

.form-control:focus {
    border-color: #C19A6B;
    /* Change to your desired border color */
    box-shadow: 0 0 5px #C19A6B;
    /* Change to your desired shadow */
    outline: none;
    /* Remove the default outline */
}

#create_pet_wrapper,
#register_form_wrapper {
    min-height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

#create_pet_container,
#register_form_container,
#register_form_wrapper>.row {
    margin: 0 auto;
    width: 80%;
}

#list_pet_form label,
#reg_form label,
#login_form {
    font-size: 14px;
    margin-left: 15px;
}

#reg_form label {
    color: #C19A6B;
}

#list_pet_form label {
    color: #5A4633;
    font-weight: 500;
}

#create_pet_container .parents_info_holder,
#register_form_wrapper #register_form_container {
    padding: 15px;
    border: 1px solid #C19A6B;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-control:focus,
.form-control:active:autoc .form-control:active {
    background: transparent;
}

/* Custom CSS to remove the background color of filled inputs */
#login_form #login_email:valid {
    background-color: transparent !important;
}

#reg_submit_button,
#login_submit_button {
    border-color: #5A4633;
    letter-spacing: 0.5px;
    font-weight: light;
    margin-top: 20px;
}

#reg_submit_button:hover,
#login_submit_button:hover {
    background-color: #ffffff;
    color: #5A4633;
}

#reg_submit_button,
#login_submit_button {
    background-color: #5A4633;
    color: #F5EDE3;
}

/******************************************* REGISTRATION FORM */
#reg_heading {
    font-weight: 700;
    color: #5A4633;
}

#register_form_wrapper .reg_form_details_holder {
    margin-top: 7px;
    margin-bottom: 7x;

}

#reg_form input {
    font-size: 14px;
    font-weight: 300;
    color: #5A4633;
}

#reg_form input::placeholder {
    font-weight: 300;
    color: #5A4633;
    font-style: italic;
    opacity: 0.8;
}

#register_form_wrapper button[type="submit"] {
    width: 43%;
    margin: 30px auto;
}

/**************************************** PET CREATION FORM******/

#list_pet_form div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#list_pet_form input {
    height: 50px;
    font-size: 14px;
    width: 70%;
}

#reg_form input::placeholder,
#list_pet_form ::placeholder {
    font-size: 12px;
    font-style: italic;
    color: #5A4633;
    opacity: 0.8;
    font-weight: 300;
}

#list_pet_form .form-check-input {
    height: 25px;
    width: 25px;
    margin-left: 15px;
}

#create_pet_wrapper .parents_info_wraper {
    margin-top: 40px;
    padding: 10px;
}

.parents_info_holder #pet_category_holder #pet_category_row {
    margin: 0;
}

.parents_info_holder #pet_category_holder {
    margin: 0;
}

.parents_info_holder #pet_birth_date_holder,
.parents_info_holder #pet_birth_date_holder .row {
    margin: 0;
}

#create_pet_wrapper h6 {
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 0;
    color: #5A4633;
}

#create_pet_wrapper button[type="submit"] {
    width: 93%;
    margin: 40px auto auto;
    background-color: #5A4633;
    color: #F5EDE3;
    font-weight: 700;
    border: none;
}

#create_pet_wrapper input[type="file"] {
    font-size: 14px;
    font-style: italic;
    color: #5A4633;
    opacity: 0.8;
    font-weight: 300;
    height: fit-content;
}

#app_update_status_row input[type="radio"]:focus,
#app_update_status_row input[type="radio"]:checked,
#create_pet_wrapper input[type="radio"]:focus,
#create_pet_wrapper input[type="radio"]:checked {
    background-color: #5A4633;
    box-shadow: none;
    border-color: #5A4633;
}

#create_pet_wrapper textarea {
    font-size: 13px;
    height: 80px;
    width: 90%;
    margin-bottom: 30px;
}

/*******************************************   (min-width: 768px) and (max-width: 992px) ********/
@media (min-width: 768px) and (max-width: 992px) {

    #create_pet_wrapper,
    #register_form_wrapper,
    #update_pet_wrapper {
        width: 100%;
        min-height: fit-content;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #create_pet_container,
    #register_form_container,
    #register_form_wrapper>.row {
        margin: 0 auto;
        width: 90%;
    }

}

/*******************************************  (min-width: 578px) and (max-width: 768px) ********/
@media (min-width: 578px) and (max-width: 768px) {

    #create_pet_container,
    #register_form_container,
    #register_form_wrapper>.row {
        margin: 0 auto;
        width: 100%;
    }

    #reg_form input {
        width: 100%;
    }
}

/*******************************************  (min-width: 350px) and (max-width: 576px) ********/

@media (min-width: 350px) and (max-width: 576px) {

    /***************** REGISTER FORM******/
    #reg_form input {
        width: 100%;
    }

    #register_form_holder .row .col {
        padding: 5px;
    }

    /***************** PET CREATION FORM******/
    #create_pet_wrapper {
        width: 100%;
    }

    #create_pet_container,
    #register_form_container,
    #register_form_wrapper>.row {
        margin: 0 auto;
        width: 95%;
    }


    #pet_offerType_row>div {
        margin: 0;
    }

    #list_pet_form input {
        height: 50px;
        font-size: 14px;
        width: 95%;
    }

    #create_pet_wrapper button[type="submit"] {
        width: 90%;
    }

    #create_pet_wrapper #form_textarea .form-label {
        font-size: 13px;
    }

    #create_pet_wrapper textarea {
        font-size: 13px;
        height: 80px;
        width: 98%;
        margin: 20px auto 30px;
    }

}