:root {
    /* Color Palette */
    --beaver: #9E7F66;
    --cod-grey: #111111;
    --mirage: #17192B;
    --elbony-clay: #242B37;
    --shuttle-gray: #5C6779;
    --white: #ffffff;
    --black: #000000;

    /* Font Families */
    --font-league-spartan: 'League Spartan', sans-serif;
    --font-sanchez: 'Sanchez', serif;
}

/* 
#reservations-main-wraper button[type="submit"]:focus {
    outline: none;
    box-shadow: none;
} */

/*** containers shadow*/
/* https://cssgenerator.org/box-shadow-css-generator.html */
/* .reservations-wraper .reservation-form-wraper {
    box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
} */



/******* shared form inputs ***/
/* input[type="checkbox"]:focus,
select,
input[type="date"]:focus,
#reservations-main-wraper .form-input-wraper>input:focus,
#contact-number-wraper input:focus,
input[type="checkbox"],
input[type="checkbox"]:checked {
    outline: none;
    box-shadow: none;
    border: none;
    color: #111111;
    opacity: 0.8;
    background-color: #ffffff;
} */


/***** remove arrow on dropdown element ****/
/**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element 
*/
form .form-input-wraper select {
    -webkit-appearance: none;
    -moz-appearance: none;
}


body {
    padding: 0;
    margin: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Lora:wght@500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Sanchez:ital@0;1&display=swap'); */


/****  COMMON  ***/
.row {
    padding: 0;
}

#post_action_message_holder {
    width: 100%;
    height: 70px;
    margin: 10px auto 40px;
}



#post_action_message_wrapper #post_action_message_container {
    width: 90%;
    background-color: #e8d6bf;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 0.5px;
    color: #6a5b48;
}

#sign_in_messsage {
    text-align: center;
}

/******* FOOTER   ****/
#footer_navbar {
    position: relative;
    margin-top: 100%;
}


/********************************* LOGIN */



/* #reservations input:-webkit-autofill:focus,
#login_form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset; */
/*your box-shadow*/
/* -webkit-text-fill-backgorund-color: #FFFFF0;
    -webkit-text-fill-color: #111111;
    -webkit-text-fill-font-size: 0.500rem;
} */


#login_wrapper {
    min-width: 500px;
    max-width: 650px;
    height: 370px;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

#login_action_holder {
    margin-top: 30px;
}

#login_action_holder .col {
    text-align: center;
}

#forgot_password_holder {
    font-size: 14px;
    padding-top: 15px;
}

#login_form label {
    margin-top: 15px;
}

#login_form input {
    font-size: 15px;
    letter-spacing: 0.5px;
}

#login_submit_button {
    width: 70%;
}

#login_message {
    padding-left: 40px;
    font-size: 14px;
    color: #a52a2a;
    margin-top: 20px;
}

/*************************************** PET VIEW **/
#pet_view_wrapper {

    min-width: 900px;
    max-width: 1000px;
    min-height: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
}

#pet_view_wrapper #pet_img_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Adjust based on your requirement */
    width: 100%;
    /* Ensure it takes up the full width of the container */
}

#pet_view_wrapper #pet_img_holder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Ensure the image covers the container */
    max-width: 100%;
    /* Responsive width */
    max-height: 100%;
    /* Responsive height */
}




#pet_view_wrapper #pet_view_container {
    padding: 20px
}


#pet_view_wrapper #pet_details_comment_wrapper {
    margin: 0 auto;
}

#pet_view_wrapper #pet_details_comment_container {
    padding: 20px;
}

#pet_view_wrapper #pet_details_comments_holder {
    margin: 0 auto;
    border: solid 1px rgb(118, 118, 118);
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

#pet_view_wrapper #pet_comments_text {

    font-style: italic;
    letter-spacing: 0.5px;
}

#pet_view_wrapper #pet_details_holder {
    padding-left: 30px;
}

#pet_view_wrapper #pet_view_info .pet_details_row {
    margin-top: 10px;
}

#pet_view_wrapper #pet_details_holder {
    /* padding: 20px; */
}

/****** adoption section */
#pet_adoption_wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 100px auto;
}

#pet_adoption_wrapper #pet_adoption_dropdown_button {
    width: 100%;
    border: solid 1px #9E7F66;
    margin-top: 50px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #9E7F66;
}

#pet_adoption_wrapper #adoption_application_wrapper {
    padding: 0;
    margin: 0 auto;
}

#pet_adoption_wrapper .adoption_application_wrapper {

    border: solid 1px #000000;
    border-radius: 10px;
    padding: 70px;
    margin: 0 auto;
    text-align: center;
}

h6 {
    text-align: center;
}

#adoption_form_dropdown {
    margin: 50px auto 0;
}

#adoption_form_dropdown .row,
#adoption_form_body {
    padding: 0;
    margin: 0 auto;
}

#adoption_form_dropdown #adoption_form_body {
    margin-top: 50px;
}

#adoption_form_dropdown #adoption_application_submit_button {
    width: 40%;
    margin: 0 auto;
    height: 40px;
    padding: 0;

}

#pet_adoption_wrapper #adoption_form_title {
    text-align: center;
    margin-bottom: 30px;
}

#pet_adoption_wrapper #adoption_form_details {
    margin-top: 50px;
    margin-bottom: 50px;
}

#pet_adoption_wrapper #form_textarea {

    margin-bottom: 40px;
    width: 80%;
    margin: 0 auto 40px;
    font-size: 14px;
}

#pet_adoption_wrapper #adoption_form_details input {
    height: 40px;
}


#pet_adoption_wrapper #adoption_form_details input::placeholder {
    font-size: 18px;
    letter-spacing: 0.2px;
    font-style: italic;
    padding-left: 3px;
    text-align: center;
}

#adoption_form_accordion_wrapper #adoption_form_success_text {
    padding: 30px;
    color: #1b793f;
    font-style: bold;
    text-align: center;
}

#adoption_form_accordion_wrapper #adoption_form_failed_text {
    padding: 30px;
    color: #b53c3c;
    font-style: bold;
    text-align: center;

}


/*********************************** COMMON FORM */

/***** Override autofill default style behavoir ****/
/**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
input:-webkit-autofill,
#login_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
    -webkit-text-fill-backgorund-color: #FFFFF0;
    -webkit-text-fill-font-size: 0.513rem;
}


#create_pet_wrapper,
#register_form_wrapper,
#update_pet_wrapper {

    min-width: 700px;
    max-width: 990px;
    min-height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

#create_pet_container,
#register_form_container,
#register_form_wrapper>.row {
    margin: 0 auto;
    width: 80%;
}

#pet_adoption_wrapper #adoption_form_details label,
#pet_adoption_wrapper #form_textarea label,
#list_pet_form label,
#reg_form label,
#login_form {
    font-size: 15px;
}

#list_pet_form label,
#reg_form label,
#login_form {
    margin-left: 15px;
}


#create_pet_container .parents_info_holder,
#register_form_wrapper #register_form_container,
#update_pet_wrapper .update_pet_info_wraper {

    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    border-color: grey;
    margin-bottom: 10px;
}

.form-control:focus,
.form-control:active:autoc .form-control:active {
    background: transparent;
}

/* Custom CSS to remove the background color of filled inputs */
#login_form #login_email:valid {
    background-color: transparent !important;
}

/*************** REGISTRATION FORM */


#register_form_wrapper .reg_form_details_holder {

    margin-top: 7px;
    margin-bottom: 7x;

}

#reg_form input {
    font-size: 14px;
}

#register_form_wrapper button[type="submit"] {

    width: 43%;
    margin: 30px auto;
}

/***************** PET CREATION ******/


#form_textarea {
    /* padding-left: 15px;
    padding-right: 15px; */
}


#list_pet_form div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#list_pet_form input {
    height: 50px;
    font-size: 14px;
    width: 70%;
}

#list_pet_form ::placeholder {
    font-size: 12px;
    font-style: italic;
}

#list_pet_form .form-check-input {

    height: 25px;
    width: 25px;
    margin-left: 15px;
}

#create_pet_wrapper .parents_info_wraper {

    margin-top: 40px;
    padding: 10px;
}


.parents_info_holder #pet_category_holder #pet_category_row {
    margin: 0;
}

.parents_info_holder #pet_category_holder {
    margin: 0;
}


.parents_info_holder #pet_birth_date_holder,
.parents_info_holder #pet_birth_date_holder .row {
    margin: 0;
}

/* #pet_category_holder div {

    padding: 0;
} */

#create_pet_wrapper h6 {

    font-size: 17px;
    margin-left: 15px;
    margin-bottom: 0;
}

#create_pet_wrapper button[type="submit"] {

    width: 93%;
    margin: 0 auto;
}

#create_pet_wrapper textarea {

    font-size: 13px;
    height: 80px;
    width: 90%;
    margin-bottom: 30px;
}


/********************************  MY LISTING PAGE */

#my_listings_wrapper {

    min-width: 990px;
    max-width: 1100px;
    min-height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

#my_listings_wrapper #my_listings_container {

    width: 90%;
    min-height: fit-content;

}

#my_listings_period_holder {

    border: solid 1px #000000;
    border-radius: 10px;
}

#my_listings_list_holder {

    border: solid 1px #000000;
    border-radius: 10px;
    padding: 10px;
    min-height: 500px;
}

.myPetCard_wrapper {
    min-height: 200px;
    width: inherit;
    margin-bottom: 10px;
}

.cardList_container>.row {

    height: inherit;
    padding-top: 20px;
}

#my_listings_spinner_holder {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#my_listings_spinner_holder .spinner-border {
    height: 80px;
    width: 80px;
    color: #9E7F66;
    margin: 200px auto auto;

}

/****** CARDLIST */

.myPetCard_wrapper {
    height: fit-content;
    padding: 0;
    width: inherit;
}

.myPetCard_wrapper .myPetCard_container {
    height: inherit;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-radius: 10px;
    padding: 0;
}

/* .myPetCard_wrapper .myPetCard_details_row {
    padding: 3px;
} */

.myPetCard_wrapper .myPetCard_container .row {
    padding: 0;
}

.myPetCard_wrapper .myPetCard_container .row .col {
    margin: 0;
}

.myPetCard_wrapper .view_pet_applications_link_holder {
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: #9E7F66;
    width: 100%;
}

.myPetCard_wrapper .view_pet_applications_link {
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
}

.myPetCard_wrapper .view_pet_applications_link a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 0.5px;
}

.myPetCard_wrapper .myPetCard_img_holder {

    padding-right: 0;

}

.myPetCard_wrapper .myPetCard_img_holder img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
}


.myPetCard_wrapper .delete_listing {

    color: #dca3a3;
    cursor: pointer;
    height: 70%;
    width: 60%;
}

.myPetCard_wrapper .update_listing {

    color: #b9bbe6;
    cursor: pointer;
    height: 60%;
    width: 60%;

}


.drop_petList_accordion_wrapper {
    background-color: #f2dfcfb6;
    width: inherit;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.drop_petList_accordion_wrapper .drop_petList_confirm_button {

    width: 30%;
    background-color: #9E7F66;
    text-align: center;
    margin: 10px auto;
    color: #FFFFF0;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.drop_petList_accordion_wrapper .drop_petList_warning_text {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

/************************* UPDATE PET*/


#update_pet_wrapper .update_pet_img_holder {
    height: inherit;
}


#update_pet_wrapper .update_pet_img_holder img {

    width: 100%;
}

#update_pet_wrapper .update_pet_info_wraper .row,
#update_pet_wrapper .update_pet_info_wraper .row .col,
#update_pet_wrapper .update_pet_info_holder .row,
#update_pet_wrapper .update_pet_info_holder div {
    margin: 0;
}

#update_pet_wrapper #formBirthMonth .form-control,
#update_pet_wrapper #formBirthYear .form-control {
    height: 10px;
}


/************************************** ALL LISTINGS*/

#pet_listing_wrapper .pet_card_wrapper {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    height: fit-content;
    border-radius: 10px;
}

#pet_listing_wrapper .pet_card_wrapper,
#pet_listing_wrapper .pet_card_wrapper .pet_card_container .row {
    margin: 0;
    padding: 0;
    text-align: center;

}

#pet_listing_wrapper .pet_card_wrapper .pet_card_container .petCard_price {
    text-align: center;
}


#pet_listing_wrapper .pet_card_detail_holder {
    text-align: center;
}

#pet_listing_wrapper .view_pet_button {
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #9E7F66;
    color: #ffffff;
    padding: 10px;

}

#pet_listing_wrapper {
    width: 1000px;
}


.pet_card_wrapper {
    height: 400px;
    background-color: aquamarine;
}

.pet_card_wrapper .img_holder {
    min-height: 250px;
    max-height: 250px;
    padding: 0;
}

.pet_card_wrapper .img_holder img {
    width: 100%;
}

#update_pet_failed_message_holder,
#create_pet_failed_message_holder {
    width: 100%;
    height: 100px;
    margin: 20px auto;

}

#update_pet_failed_message,
#create_pet_failed_message {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    padding: 20px;
    color: #b53c3c;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* 
.container {
    width: calc(var(--base-width) - 2rem);
    height: calc(var(--base-height) - 2rem);
    font-size: calc(var(--base-font-size) + 0.5vw);
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    :root {
        --base-width: 90%;
        --base-height: 90%;
        --base-font-size: 15px;
    }
}

@media (max-width: 992px) {
    :root {
        --base-width: 80%;
        --base-height: 80%;
        --base-font-size: 14px;
    }
}

@media (max-width: 768px) {
    :root {
        --base-width: 70%;
        --base-height: 70%;
        --base-font-size: 13px;
    }
}

@media (max-width: 576px) {
    :root {
        --base-width: 60%;
        --base-height: 60%;
        --base-font-size: 12px;
    }
} */